.nav-bar {
    position: fixed;
    background-color: #292929;
    top: 0;
    left: 0px;
    right: 0px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    z-index: 3;
}

.nav-bar-left {
    float: left;
    align-items: center;
    height: 70px;
    display: flex;
    gap: 30px
}
.nav-bar-right {
    float: right;
    align-items: center;
}
#category{
    background-color: #292929;
    color: white;
    border: none;
    cursor: pointer;
}
#caret {
    padding-left: 10px;
}
.dropdown-content {
    position: absolute;
}
.radio-buttons {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 20px;
    background-color: #292929;
    padding: 10px 20px;
}
input[type=radio] {
    display: none;
    width: 100%;
}
input[type=radio]:checked + span {
    color: #94692D;
    font-weight: bold;
}
label > span {
    cursor: pointer;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #292929;
    border: solid 1px #94692D;
    color: #94692D;
    font-weight: bold;
}
.chip img {
    float: left;
    margin: -10px 10px 0 -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.chip, #category, label {
    font-size: 16px;
}
.search-button, .search-button-big {
    background-color: #94692D;
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #FF4136;
}

.search-button-big {
    height: 50px;
    background-color: #292929;
}

.search-button {
    padding-top: 2px;
}

input[type="text"] {
    border-radius: 20px;
    padding-left: 5px;
    width: 30vw;
    border: none;
}

#search{
    color: black !important;
    margin-top: 2px;
}

#search-big {
    color: #94692D;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    input[type="text"] {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .chip, #category, label {
        font-size: 3vw;
    }
    label {
        padding: 10px 0;
    }
    .nav-bar-left {
        gap: 10px
    }
}