html,
body {
    height: 90vh;
    margin: 0;
    background-color:#151515;
    font-family: "Segoe UI", Verdana, sans-serif;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
h1, h2 {
    color: #94692d;
}
#footer{
    margin-top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #94692d;
}
#footer-text {
    text-align: center;
}
#footer-logo-image {
    width: 100px;
    height: auto;
}
#view {
    padding-top: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all {
    cursor: pointer;
}

.view-all:hover {
    color:#94692d;
}

.view-all-title {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    gap: 20px
}

.view-all-container {
    margin-bottom: 20px;
}