.arrows-videos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.video-container {
    border-radius: 5px;
    border: solid 1px #292929;
}

.videos-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    overflow: hidden;
    columns: 4;
}

.videos-container.horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    overflow: hidden;
    columns: 2;
}

.arrows {
    background-color: #151515;
    color: #94692D;
    border: none;
    cursor: pointer;
    font-size: 5vw;
}

.arrows:hover{
    color: #FF4136;
}
h3 {
    color: #FF4136;
}
h3, p {
    margin: 0;
    text-align: center;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border: solid 1px #94692D;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #94692D;
}

.no-videos-message {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    margin: 20px 0;

}

@media screen and (max-width: 800px) {
    .videos-container {
        columns: 2;
        gap: 10px;
    }

    .videos-container.horizontal {
        columns: 1;
        gap: 10px;
    }

    .arrows {
        font-size: 3vw;
        padding: 0;
        margin: 0;
    }

    #prev {
        left: 0;

    }

    #next {
        right: 0;
    }
}